#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(111, 111, 180);
    max-width: 500px;
    height: 400px;
    border: 2px black solid;
    border-radius: 10px;
    padding-top: 8px;
}

#disContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border:3px black solid;
    background-color: rgb(201, 226, 172);
    width: 400px;
    height: 20px;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 25px;
}

#display {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#prevNum {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#buttons {
    display: flex;
    flex-direction: row;
    max-width: 450px;
}

#numpad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1;
    max-width: 300px;
    max-height:280px;
    padding: 10px;
    margin-right: 50px;
    background-color: grey;
    border: 3px black solid;
    border-radius: 10px;
}

.num {
    width: 50px;
    height:35px;
    margin: 15px 15px;
    font-size: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.dec {
    width: 50px;
    height:35px;
    margin: 15px 15px;
    font-size: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

#functions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: grey;
    width: 72px;
    height: 300px;
    padding: 0px 5px;
    border: 3px black solid;
    border-radius: 10px;
}

.opr {
    margin: 0px 10px;
    width: 50px;
    height: 25px;
    font-size: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.clear {
    margin: 0px 5px;
    width: 60px;
    height: 25px;
    font-size: 16px;
    background-color: rgb(207, 159, 27);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 10px;
}

.clearAll {
    margin: 0px 5px;
    width: 60px;
    height: 35px;
    font-size: 12px;
    background-color: rgb(207, 159, 27);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 10px;
}

.equ {
    margin: 0px 5px;
    width: 60px;
    height: 25px;
    font-size: 16px;
    background-color: rgb(207, 159, 27);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 10px;
}