#display {
    display: flex;
    flex-direction: row;
    justify-content: end;
    border:1px black solid;
    background-color: rgb(180, 176, 176);
    max-width: 400px;
    height: 20px;
    padding: 20px;
    margin-bottom: 10px;
}

#buttons {
    display: flex;
    flex-direction: row;
    max-width: 450px;
}

#numpad {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 300px;
    max-height:250px;
    padding: 10px;
    margin-right: 50px;
}

.num {
    width: 30px;
    height:40px;
    margin: 15px 30px;
    font-size: 20px;
   
}

#functions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: grey;
    width: 72px;
    height: 250px;
}

.opr {
    margin: 0px 15px;
    width: 45px;
    height: 25px;
}